/*----------- FOOTER -----------*/

.footer{
    background-color: var(--primary);
    color: white;
    padding: 40px 20px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.footer-section h3{
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
}

.footer-links{
    list-style: none;
    margin-bottom: 10px;
}

.footer-links a{
    color: white;
    text-decoration: none;
}

.footer-links a:hover{
    color: #c6c6c6;
}

.social-list{
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.social-link{
    display: flex;
    gap: 8px;
    color: white;
    text-decoration: none;
}

.social-link:hover{
    color: #c6c6c6;
}

.footer-bottom{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 0.1px solid var(--text-light);
    text-align: center;
    font-size: 14px;
    color: white;
}

.footer-bottom a{
    text-decoration: none;
    color: var(--text-dark);
}

.footer-bottom a:hover{
    text-decoration: underline;
    color: var(--text-light);
}

/*----------- MAP -----------*/
#map { width:100%; height:520px; border-radius:8px; overflow:hidden; margin-bottom:40px; }

/*---------------------- RESPONSIVE DESIGN ----------------------*/

@media (min-width: 1024px){
    .container{
        width: 100%;
        min-width: 1024px;
        margin: 0 auto;
        padding: 0 20px;
    }

    body{
        font-size: 1rem;
    }
    .user-actions{
        display: flex;
        align-items: center;
        justify-self: space-between;
        gap: 50px;
        font-size: medium;
    }
    .footer-content{
        display: grid;
        font-size: smaller;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 30px;
    }
}
